@import '../base.scss';
@import '../base/button-style.scss';
@import '../base/font.scss';
@import '../base/align.scss';
@import '../base/input.scss';

.user-resume-frame{
    width: 100%;
    height: 100%;

    padding: 5%;
}

.users-resume-item{
    display: flex;
    align-items: center;

    height: auto;

    margin-bottom: 25px;

    width: 100%;

    .title{
        min-width: 50px;
        margin-right: 50px;
    }
    .img-title{
        min-width: 50px;
        margin-right: 50px;
    }
}