@import '../base.scss';
@import '../base/align.scss';
@import '../base/font.scss';

.users-info-frame{
    width: 100%;
    height: 100%;

    padding: 5%;
}

.users-info-item{
    display: flex;

    height: auto;

    margin: 0;

}

.Name{
    &:hover{
        font-weight: bold;
    }
}