@import '../base.scss';
@import './font.scss';

$margin : 15px;

.title-item-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    .title{
        margin-bottom: $margin;
    }
}

.title-item-row{
    display: flex;
    align-items: flex-start;

    width: 100%;

    .title{
        margin-right: $margin;
    }
}

.start-align{
    display: flex;
    align-self: flex-start;
}

.end-align{
    display: flex;
    align-items: flex-end;
}

.ellipsis-div {
	text-overflow : ellipsis;
	display: block;
	overflow: hidden;
}