@import '../base.scss';
@import './font.scss';

$margin : 15px;

.title-item-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    .title{
        margin-bottom: $margin;
    }
}

.title-item-row{
    display: flex;
    align-items: flex-start;

    width: 100%;

    .title{
        margin-right: $margin;
    }
}