@import '../base.scss';

// 기본값은 MD
.Button-Default{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 155px;
    height: 38px;

    background: #7AAFE0;
    border-radius: 19px;

    border: none;
    outline: none;

    text{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;

        letter-spacing: 1.25px;

        white-space: nowrap;

        color: #FFFFFF;
    }

}

.Button-Md{
    @extend .Button-Default;

    height: 38px;
}

.Button-Sm{
    @extend .Button-Default;

    height: 30px;
}

:disabled{
    opacity:0.5;
}