@import '../base.scss';

.Font-Title{
    font-size: 33px;   
}

.Font-Md{
    font-size: 20px;
}

.Font-Sm{
    font-size: 15px;
}

.Bold{
    font-weight: bold;
}

.Info{
    color: rgba(90, 90, 90, 0.1);
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    
    letter-spacing: 0.25px;

    white-space: nowrap;

    color: #000000;
}

.Semi{
    color: rgba(0,0,0,0.75);
}
