@import "../base.scss";

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;

    padding-inline: 10%;
    
    background: rgba(90, 90, 90, 0.1);
}