img.big{
    width: 70px;
    height: 70px;

    margin: 0;
}

img.md{
    width: 40px;
    height: 40px;

    margin: 0;
}

img.sm{
    width: 24px;
    height: 24px;

    margin: 0;
}

img.mini{
    width: 20px;
    height: 20px;

    margin: 0;
}