@import '../base.scss';
@import '../base/font.scss';
@import '../base/button-style.scss';
@import '../base/align.scss';

.List-Frame{
    display: flex;
    flex-direction: row;

    padding-inline: 100px;

    width: 100%;

    .Profile-item{
        
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 300px;
        min-height: 750px;
        
        margin-top: 100px;
        margin-right: 180px;
        
        .Profile-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            width: 100%;

            * {
                margin-top: 3px;
            }

        }

    }

    .StudyList-item{
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }

}

.Profile-info-detail{
    display: flex;
    flex-direction: column;
    width: 100%;

    .item{
        display: flex;
    }

    .tech{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        width: 100%;
    }

}

.users-info-frame{
    width: 100%;
    height: 100%;

    padding: 5%;
}

.users-info-item{
    display: flex;

    height: auto;

    margin: 0;
}