@import '../base.scss';

.Create{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 155px;
    height: 38px;

    background: #7AAFE0;
    border-radius: 19px;

    border: none;
    outline: none;
}

.create-button-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;

    letter-spacing: 1.25px;

    color: #FFFFFF;
}