@import "./base.css";

.Member{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}

.MemberView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0px;

    margin: 0px 100px;
}

.MemberName{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    display: flex;
    align-items: left;
    letter-spacing: 0.15px;

    color: #000000;
}

.MemberInfo{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: left;
    letter-spacing: 0.4px;

    color: #5A5A5A;
}