@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,600");

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: Poppins;
	box-sizing: border-box;
}

.fn-font {
	font-family: Poppins;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;

	&:hover{
		font-weight: bold;
	}
	&:visited{
		color: none;
	}
}

.icon {
	width: 24px;
	height: 24px;
	margin: 5px;
}

.profile-image{
	position: relative;
	width: 100%;

	border-radius: 50%;
	overflow: hidden;

	border: 0.1px solid #222222;
	box-sizing: border-box;
	
	img{
		position: absolute;
		width: 100%;
		height: 100%;

		top: 0;
		left: 0;

		object-fit: cover;
	}

}

.profile-image:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}