@import '../scss/base.scss';
@import '../scss/base/align.scss';
@import '../scss/base/font.scss';
@import '../scss/base/button-style.scss';

$margin_comment: 5px;

.Comment-Frame{
    margin-top: 20px;
}

.box{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 15px;

    border-radius: 10px;
    
    border: none;
    outline: none;

    margin: $margin_comment 0px $margin_comment 0px;
}
.Comment-item{
    @extend .box;
    width: 100%;
    background: #F2F2F2;
}

.ReplyComment-item{
    @extend .box;
    width: 90%;
    background: #c2c2c2;
}