@import "./base.scss";

.Member{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.MemberView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;

    width: 100%;
}

.MemberName{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    display: flex;
    letter-spacing: 0.15px;

    white-space: nowrap;

    color: #000000;
}

.MemberInfo{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    letter-spacing: 0.4px;

    white-space: nowrap;

    color: #5A5A5A;
}