@import './base.scss';

.Search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    min-width: 300px;
    height: 38px;

    background: #F2F2F2;
    border-radius: 19px;

    margin: 0px 10px;
}

.search-input{

    width: 100%;
    background: none;

    border: none;
    outline: none;

    margin: 0px 10px;
}