@import './base.scss';

.StudyList{
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.StudyList-Item{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    margin-bottom: 20px;

    display: flex;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    &:hover{
        background: rgba(90, 90, 90, 0.05);
    }
}

.StudyList-Item-title{

    width: 100%;
    height: 38px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-align:left;

    .text{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    
        display: flex;
        letter-spacing: 0.15px;
    
        color: #000000;
    }
}

.StudyList-Item-tech-icon{

    height: 38px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        width: 24px;
        height: 24px;
        margin: 0px 5px;
    }
}

.StudyList-Item-UserState{

    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px 20px;
    margin: 0px 10px;

    background: rgba(20, 0, 255, 0.08);
    border-radius: 25px;

    text{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;

        white-space: nowrap;

        letter-spacing: 0.5px;
        color: #222222;
    }

}

.StudyList-Item-Profile{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 20px 0px 0px;
}

.StudyList-Item-Profile-img{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    border: 0.1px solid #222222;
    box-sizing: border-box;

    margin: 0px 10px 0px 0px;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.StudyList-Item-Profile-name{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    letter-spacing: 0.15px;

    white-space: nowrap;

    color: #000000;
}